In [122]:
import pandas as pd
import math
from scipy.stats import entropy

In [149]:
df = pd.DataFrame(
    {
        'x1':[1/8, 1/16, 1/16, 1/4],
        'x2':[1/16, 1/8, 1/16, 0],
        'x3':[1/32, 1/32, 1/16, 0],
        'x4':[1/32, 1/32, 1/16, 0]
    }
)
df

       x1      x2       x3       x4
0  0.1250  0.0625  0.03125  0.03125
1  0.0625  0.1250  0.03125  0.03125
2  0.0625  0.0625  0.06250  0.06250
3  0.2500  0.0000  0.00000  0.00000

## 2Bi) Computing marginal probabilities

*p(X)*

In [125]:
px = []
for i in range(0,4):
    s = sum(df.iloc[:,i])
    px.append(s) 

print(px)

[0.5, 0.25, 0.125, 0.125]

**Solution for 2Bi (p(x))**   
p(x=1) = 0.5   
p(x=2) = 0.25  
p(x=3) = 0.125  
p(x=4) = 0.125

*p(Y)*

In [126]:
py = []
for i in range(0,4):
    s = sum(df.iloc[i])
    py.append(s) 

print(py)

[0.25, 0.25, 0.25, 0.25]

**Solution for 2Bi (p(y))**   
p(y=1) = 0.25   
p(y=2) = 0.25  
p(y=3) = 0.25  
p(y=4) = 0.25

In [140]:
df_marg_prob = df

In [141]:
df_marg_prob['marg_py'] = py
df_marg_prob['marg_px'] = px
df_marg_prob

       x1      x2       x3       x4  marg_py  marg_px
0  0.1250  0.0625  0.03125  0.03125     0.25    0.500
1  0.0625  0.1250  0.03125  0.03125     0.25    0.250
2  0.0625  0.0625  0.06250  0.06250     0.25    0.125
3  0.2500  0.0000  0.00000  0.00000     0.25    0.125

## 2Bii) Computing entropies H(X) and H(Y)

*H(X)=-sum(px[i]*log_2(px[i]))*

In [135]:
hx = 0
for i in range(0,4):
    hx += -1*px[i]*math.log(px[i],2)

print(hx)

1.75

In [136]:
entropy(df_marg_prob.iloc[:, 5], base=2)

1.75

*H(X) = 1.75*

*H(Y)*

In [35]:
hy = 0
for i in range(0,4):
    hy += -1*py[i]*math.log(py[i],2)

print(hy)

2.0

In [137]:
entropy(df_marg_prob.iloc[:, 4], base=2)

2.0

*H(Y) = 2*

## 2Biii) Computing entropies H(X|Y=i)

In [170]:
df

       x1      x2       x3       x4
0  0.1250  0.0625  0.03125  0.03125
1  0.0625  0.1250  0.03125  0.03125
2  0.0625  0.0625  0.06250  0.06250
3  0.2500  0.0000  0.00000  0.00000

In [160]:
hx_yi = []
for i in range(0,4):
    hx_yi.append(entropy(df.iloc[i], base=2))
    print(f'H[X | Y = {i+1}] = {hx_yi[i]}')

H[X | Y = 1] = 1.75
H[X | Y = 2] = 1.75
H[X | Y = 3] = 2.0
H[X | Y = 4] = 0.0

## 2Biv) Compute H(X|Y)

In [271]:
hx_y = 0
for j in range(0,4):
    hx_y += py[j]*hx_yi[j]
print(f'H[X | Y] = {hx_y}')

H[X | Y] = 1.375

## 2Bv) Compute H(Y|X)

In [275]:
# calculating p(yi|xj)

for j in range(0,4):
    print(f'\nX_{j+1}:')
    for i in range(0,4):
        pyi_xj = df.iloc[i,j]/px[j]
#         print(f'\np(yi)={df.iloc[i, j]}/ p(xj)={px[j]}, p(yi|x) = {pyi_xj}')
        print(f'p(y{i+1}|x{j+1})={pyi_xj}')

X_1:
p(y1|x1)=0.25
p(y2|x1)=0.125
p(y3|x1)=0.125
p(y4|x1)=0.5

X_2:
p(y1|x2)=0.25
p(y2|x2)=0.5
p(y3|x2)=0.25
p(y4|x2)=0.0

X_3:
p(y1|x3)=0.25
p(y2|x3)=0.25
p(y3|x3)=0.5
p(y4|x3)=0.0

X_4:
p(y1|x4)=0.25
p(y2|x4)=0.25
p(y3|x4)=0.5
p(y4|x4)=0.0

In [276]:
# initiating list 
hy_xk = []
# initiating sum for total conditional entropy
hy_x=0

for j in range(0,4):
    # creating list for each x_j that stores all probabilities of y_i
    pyi_x = []
    for i in range(0,4):
        pyi_x.append(df.iloc[i,j]/px[j])
    # calculating entropy for each H(Y | x=j) and add to list to then calculate total H(Y|X)
    hy_xk.append(entropy(pyi_x[:],base=2))

for k in range(0,4):
    # Print out all conditional entropies with varying x_k
#     print(f'H(Y | X = {k+1})= {hy_xk[k]}')
    # sum over all entropies with x_k and multiply by marginal probability for x_k
    hy_x+=hy_xk[k]*px[k]
    
print(f'H(Y | X) = {hy_x}')

H(Y | X) = 1.625

## 2Bvi) Computing joint entropy H(X,Y)

In [287]:
# initialize joint entropy
hxy = 0

for i in range(0,4):
    for j in range(0,4):
        # since we are using math.log() and we know some indicies have 0 this will cause a math error; but we know the entropy of that term will be 0, so we set those to zero to avoid math error
        if df.iloc[i,j]==0:
            hxy+=0
        else:
            hxy +=-1*df.iloc[i,j]*math.log(df.iloc[i,j],2)
print(hxy)

3.375